
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tittle || "Glams"}}</title>
    <link rel="stylesheet" href="styles-index.css">
    <link rel="icon" href="assets/glamzz.png" type="image/x-icon">

    @vite(['resources/css/app.css'])
    @if ($slots.meta)
    {{{await $slots.meta()}}}
    @endif

</head>
<body>
    @include('partials/header')
    {{{await $slots.main()}}}
    @include('partials/footer')
</body>
</html>